.quizCategories {
  width: 70%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.quizCategories button {
  height: 160px;
  width: 160px;
  border: none;
  border-radius: 80px;
  font-size: 1.4em;
  background: linear-gradient(to left, #facd03, #f8df6d);
  color: #ad07ad;
  box-shadow: 2px 2px #d4b8d4;
}

.quizCategories button:hover {
  background: linear-gradient(to left, #ad07ad, #eca3ec);
  color: #facd03;
}
