.submitQuiz {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 40px;
  font-size: 1.2em;
  background-color: rgb(165, 79, 245);
  color: #fff;
}

.submitQuiz:hover {
  background-color: blueviolet;
}
